# Introduction to Data
We first import our data and drop the unique ID columns

In [2]:
import pandas as pd
df = pd.read_csv('data/train.csv')

In [3]:
df = df.drop(["uuid", "uuid_1"], axis=1)
df.head()

,name,short_description,category_list,category_groups_list,description
0,Toolex Machine,"Manufacturing & supplying Lathe, Boring,","Information Technology,Manufacturing","Information Technology,Manufacturing",Toolex Machine Tools Pvt Ltd Commenced in the ...
1,Perish the Thought Golf,Perish The Thought Golf is a company that deve...,Sports,Sports,Perish The Thought Golf is a company that deve...
2,Sell One Thing,A One Page Product Checkout Page,E-Commerce,Commerce and Shopping,Sell One Thing helps people sell stuff online....
3,Citeulike,Citeulike is a free online service to organize...,"Education,Internet","Education,Internet Services",Citeulike is a free online service to organize...
4,Juick,Juick is a microblogging website dedicated to ...,"Blogging Platforms,Information Technology,Mess...","Content and Publishing,Information Technology,...",IM-based social network and microblogging serv...

## Labels

Let's look at how many companies are in each unique category

In [4]:
df['category_groups_list'].value_counts()

Health Care                                                                                          18855
Financial Services                                                                                   15815
Software                                                                                             12806
Real Estate                                                                                          12166
Financial Services,Lending and Investments                                                           10576
                                                                                                     ...
Apps,Commerce and Shopping,Community and Lifestyle,Events,Media and Entertainment,Software               1
Data and Analytics,Education,Gaming,Mobile                                                               1
Apps,Data and Analytics,Design,Education,Information Technology,Mobile,Software                          1
Commerce and Shopping,Consumer Goods,Financial Services,Hardware,Payments,Software                       1
Content and Publishing,Events,Information Technology,Media and Entertainment,Privacy and Security        1
Name: category_groups_list, Length: 50502, dtype: int64

## Data Preparation
### Encoding the labels

In [6]:
labels = df.category_groups_list.unique()
label_dict = {}
for idx, label in enumerate(labels):
    label_dict[label] = idx

In [8]:
df['label'] = df.category_groups_list.replace(label_dict)

MemoryError: Unable to allocate 4.76 MiB for an array with shape (624469,) and data type object

,name,short_description,category_list,category_groups_list,description
0,Toolex Machine,"Manufacturing & supplying Lathe, Boring,","Information Technology,Manufacturing","Information Technology,Manufacturing",Toolex Machine Tools Pvt Ltd Commenced in the ...
1,Perish the Thought Golf,Perish The Thought Golf is a company that deve...,Sports,Sports,Perish The Thought Golf is a company that deve...
2,Sell One Thing,A One Page Product Checkout Page,E-Commerce,Commerce and Shopping,Sell One Thing helps people sell stuff online....
3,Citeulike,Citeulike is a free online service to organize...,"Education,Internet","Education,Internet Services",Citeulike is a free online service to organize...
4,Juick,Juick is a microblogging website dedicated to ...,"Blogging Platforms,Information Technology,Mess...","Content and Publishing,Information Technology,...",IM-based social network and microblogging serv...

### Train and validation split

In [18]:
from sklearn.model_selection import train_test_split

x_train, x_val, y_train, y_val = train_test_split(df.index.values, 
                                                 df.label.values, 
                                                 test_size = 0.15,
                                                 random_state = 42,)

AttributeError: 'DataFrame' object has no attribute 'label'

# Import packages to do analysis

In [1]:
%load_ext autoreload
%autoreload 2

from Model.model import *